.board-area {
    clear: both;
    width: 800px;
    height: 630px;
    background-image: url("img/board.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.problem-area {
    margin-bottom: 5px;
}

.problem {
    float: left;
}

.idea-area {
    margin-top: 5px;
}

.idea {
    float: left;
}

.card {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;   /* rounded corners */
    width: 100px;
}

.dicebox {
    position: absolute;
    border: 1px solid blue;
    width: 27px;
    height: 25px;
}

.dicebox-problem1 { top: 3.8%; left: 25.3%; }
.dicebox-problem2 { top: 3.8%; left: 29.3%; }
.dicebox-problem3 { top: 3.7%; left: 38.2%; }
.dicebox-problem4 { top: 3.7%; left: 41.8%; }
.dicebox-problem5 { top: 3.7%; left: 49.1%; }
.dicebox-problem6 { top: 3.7%; left: 52.7%; }
.dicebox-problem7 { top: 3.7%; left: 56.4%; }
.dicebox-setpiece1 { top: 30%; left: 27.0%; }
.dicebox-setpiece2 { top: 30%; left: 30.7%; }
.dicebox-productionmeeting { top: 70.1%; left: 30.5%; }
.dicebox-getintern { top: 57.3%; left: 65.6%; }
.dicebox-idea1 { top: 92.6%; left:50.1% }
.dicebox-idea2 { top: 92.6%; left:54.3% }
.dicebox-idea3 { top: 92.6%; left:63.5% }
.dicebox-idea4 { top: 92.6%; left:67.6% }

.shadow {
    /* the following styles are for drop-shadow across multiple browsers */
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);   
}






