.board-area {
    clear: both;
    width: 800px;
    height: 630px;
    background-image: url("img/board.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}

.problem-area {
    margin-bottom: 5px;
    width: 800px;
}

.problem {
    float: left;
    height: 120px;
    width: 90px;
    background-color: white;
    opacity: .5;
    margin-left: 13px;
}

.problemdeck {
    margin-left: 10.7%;
    background-color: white;
    opacity: .5;
}

.idea {
    float: left;
    height: 120px;
    width: 90px;
    background-color: white;
    opacity: .5;
    margin-left: 13px;
}

.idea-area {
    margin-top: 5px;
    width: 800px;
}

.ideadiscard {
    margin-left: 23%;
    background-color: white;
    opacity: .5;
}

.card {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;   /* rounded corners */
    width: 90px;
    height:140px;
}

.dicebox {
    position: absolute;
    border: 1px solid blue;
    width: 27px;
    height: 25px;
}

.setpiece {
    position: absolute;
    border: 1px solid blue;
    width: 70px;
    height: 70px;
}

.setpiecestack1 { top: 19.6%; left: 39.9% }
.setpiecestack2 { top: 19.6%; left: 50% }
.set1 { top: 36%; left: 38.3% }
.set2 { top: 36%; left: 42.6% }
.set3 { top: 36%; left: 47.1% }
.set4 { top: 36%; left: 51.5% }
.set5 { top: 41.7%; left: 38.3% }
.set6 { top: 41.7%; left: 42.6% }
.set7 { top: 41.7%; left: 47.1% }
.set8 { top: 41.7%; left: 51.5% }
.set9 { top: 47.3%; left: 38.3% }
.set10 { top: 47.3%; left: 42.6% }
.set11 { top: 47.3%; left: 47.1% }
.set12 { top: 47.3%; left: 51.5% }
.set13 { top: 53%; left: 38.3% }
.set14 { top: 53%; left: 42.6% }
.set15 { top: 53%; left: 47.1% }
.set16 { top: 53%; left: 51.5% }



.dicebox-problem1 { top: 3.8%; left: 25.3%; }
.dicebox-problem2 { top: 3.8%; left: 29.3%; }
.dicebox-problem3 { top: 3.7%; left: 38.2%; }
.dicebox-problem4 { top: 3.7%; left: 41.8%; }
.dicebox-problem5 { top: 3.7%; left: 49.1%; }
.dicebox-problem6 { top: 3.7%; left: 52.7%; }
.dicebox-problem7 { top: 3.7%; left: 56.4%; }
.dicebox-setpiece1 { top: 30%; left: 27.0%; }
.dicebox-setpiece2 { top: 30%; left: 30.7%; }
.dicebox-productionmeeting { top: 70.1%; left: 30.5%; }
.dicebox-getintern { top: 57.3%; left: 65.6%; }
.dicebox-idea1 { top: 92.6%; left:50.1% }
.dicebox-idea2 { top: 92.6%; left:54.3% }
.dicebox-idea3 { top: 92.6%; left:63.5% }
.dicebox-idea4 { top: 92.6%; left:67.6% }

.shadow {
    /* the following styles are for drop-shadow across multiple browsers */
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);   
}